<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>$(AppIdentifierPrefix)net.winchannel.sfa.winsfa26</string>
		<string>$(AppIdentifierPrefix)net.winchannel.sfa.winchannelv2</string>
	</array>
</dict>
</plist>
