<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>零售 New SFA</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>8.3</string>
	<key>CFBundleName</key>
	<string>skotcnew</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>launchHuaweiExt4</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>launchHuaweiExt4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxd6bf5296c80a7777</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>winsfa</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>winsfa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>proname</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mqq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106193377</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fff.videoDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>videoDemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qyweixin</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>baidumap</string>
		<string></string>
		<string>iosamap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App需要获取蓝牙授权，以满足对打印销售小票的日常工作需要，是否允许此App使用蓝牙功能？</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要获取蓝牙授权，以满足对打印销售小票的日常工作需要，是否允许此App使用蓝牙功能？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要获取日历授权，以满足对安排工作计划以及计划提醒的日常工作需要，是否允许此App使用日历功能？</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要获取相机授权，以满足对进门店拍照/考勤识别人脸以及对货架识别拍照的日常工作需要，是否允许此App使用相机功能？</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要获取通讯录授权，以满足对同事/客户间快速联系的日常工作需要，是否允许此App使用通讯录功能？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要获取定位授权，以满足对拜访门店/离开门店/考勤打卡的日常工作需要，是否允许此App使用定位功能？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要获取定位授权，以满足对拜访门店/离开门店/考勤打卡的日常工作需要，是否允许此App使用定位功能？</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要获取定位授权，以满足对拜访门店/离开门店/考勤打卡的日常工作需要，是否允许此App使用定位功能？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要获取定位授权，以满足对拜访门店/离开门店/考勤打卡的日常工作需要，是否允许此App使用定位功能？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要获取语音授权，以满足同事/客户间的快速沟通日常工作需要，是否允许此App使用语音功能？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要获取相册授权，以满足对选取门头照/货物照/凭证照/保存工作照片的日常工作需要，是否允许此App使用相册功能？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要获取相册授权，以满足对选取门头照/货物照/凭证照/保存工作照片的日常工作需要，是否允许此App使用相册功能？</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
