<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AliyunAccessKeyId</key>
	<string></string>
	<key>AliyunAccessKeySecret</key>
	<string></string>
	<key>AliyunBucket</key>
	<string></string>
	<key>AliyunEndPoint</key>
	<string></string>
	<key>BOTTOM_MENU</key>
	<string></string>
	<key>BaiduMapKey</key>
	<string></string>
	<key>DBVersion</key>
	<string>87</string>
	<key>EaseMobAppKey</key>
	<string>winchannelbj#mengniu</string>
	<key>GET_PARAM_IN_LOGIN_DATA</key>
	<string>1</string>
	<key>GET_PASSWORD_URL</key>
	<string></string>
	<key>HIDE_MODIFY_PASSWORD</key>
	<string></string>
	<key>HIDE_RETRIEVE_PASSWORD</key>
	<string></string>
	<key>Hotline</key>
	<string>400-687-0099</string>
	<key>LOGIN_COUNTDOWN_TIME</key>
	<string></string>
	<key>LOGIN_PLAY_VIDEO</key>
	<string></string>
	<key>LOGIN_REJECT</key>
	<string></string>
	<key>MODIFY_PASSWORD_URL</key>
	<string></string>
	<key>ONLY_ALERT_WHEN_UPGRADE</key>
	<string></string>
	<key>OPEN_TC_EVERY_TIME</key>
	<string>0</string>
	<key>Online_Consultation</key>
	<string>https://webchat.7moor.com/wapchat.html?accessId=d98dc810-66de-11e7-8641-530759df689b&amp;otherParams=%7b%22nickName%22%3a%22winsfa+ios%22%7d%26clientId%3d124_1799601</string>
	<key>OpenNewLoginView</key>
	<string>1</string>
	<key>PasswordEncrypt</key>
	<string>0</string>
	<key>SAAS_URL</key>
	<string></string>
	<key>SSO_LOGIN</key>
	<string></string>
	<key>SSO_SESSION</key>
	<string></string>
	<key>STAT_ACTION</key>
	<string></string>
	<key>SVNVersion</key>
	<string>2403121822-rel</string>
	<key>ServerIP</key>
	<string>https://sfa-otc3.haleon.cn/otc-mobile/</string>
	<key>UPGRADE_MESSAGE</key>
	<string></string>
	<key>USER_GESTURE_PASSWORD</key>
	<string></string>
	<key>WWCHAT_SHARE_ID</key>
	<string></string>
	<key>WelcomePageOption</key>
	<string>0</string>
	<key>gaode_key</key>
	<string>704bd3790e6384e650926298e3672a43</string>
	<key>youmeng_key</key>
	<string>65adc2c4bb83a46b58787b87</string>
	<key>hasShortCut</key>
	<string></string>
	<key>useAliyun</key>
	<string></string>
	<key>useBaiduMap</key>
	<string></string>
	<key>useDebugTool</key>
	<string>0</string>
	<key>useGeoAmap</key>
	<string>1</string>
	<key>useOfflineLoginWhenLaunch</key>
	<string>0</string>
	<key>useTabBarTitle</key>
	<string></string>
	<key>appSystemVersion</key>
	<string>6.6</string>
	<key>RongcloudAppKey</key>
	<string>6tnym1br6kna7</string>
</dict>
</plist>
