<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TAB_CHAT</key>
	<string>WSCommunicateViewController</string>
	<key>spe_richMediaList</key>
	<string>WSRichMediaMainShowController</string>
	<key>TB_mediaDownload</key>
	<string>WSDownLoadRichMediaController</string>
	<key>TB_unileveLink</key>
	<string>WSOutsideLinkViewController</string>
	<key>TB_richMediaList</key>
	<string>WSRichMediaMainController</string>
	<key>spe_richMediaEdit</key>
	<string>WSRichMediaMainController</string>
	<key>spe_suggestOrder</key>
	<string>WSSuggestedTableShowController</string>
	<key>TAB_MV_LIST</key>
	<string>WSCollectionMVListViewController</string>
	<key>MD_LIST</key>
	<string>WSMV_LISTViewController</string>
	<key>MV_LIST</key>
	<string>WSMV_LISTViewController</string>
	<key>TAB_CallPlan</key>
	<string>WSCallPlanViewController</string>
	<key>TAB_V1002</key>
	<string>WSMyMsgViewController</string>
	<key>TAB_V1004</key>
	<string>WSManuallyUploadViewController</string>
	<key>TAB_V1005</key>
	<string>WSEmpInfoViewController</string>
	<key>TAB_V1006</key>
	<string>WSStoreVisitViewController</string>
	<key>TAB_V10001</key>
	<string>WSSelectTimesViewController</string>
	<key>TAB_V11001</key>
	<string>WSCustomerQueryViewController</string>
	<key>TAB_V21002</key>
	<string>WSCustomerQueryViewController</string>
	<key>TAB_V13001</key>
	<string>WSCustomerQueryViewController</string>
	<key>TAB_V14005</key>
	<string>WSOrderMangerViewController</string>
	<key>TAB_V15001</key>
	<string>WSSendSuggestionViewController</string>
	<key>TAB_V15002</key>
	<string>WSSuggestListViewController</string>
	<key>TAB_V17001</key>
	<string>WSSpecialAcvtViewController</string>
	<key>TAB_V19001</key>
	<string>WSNewProductListViewController</string>
	<key>TAB_V2001</key>
	<string>WSTodayVisitViewController</string>
	<key>TAB_V2002</key>
	<string>WSAllStoresViewController</string>
	<key>TAB_V2003</key>
	<string>WSOtherDutyViewController</string>
	<key>TAB_V2005</key>
	<string>WSSubStoreListViewController</string>
	<key>TAB_V4001</key>
	<string>WSSearchTelOrdViewController</string>
	<key>TAB_V5003</key>
	<string>WSSubempLISTViewController</string>
	<key>TAB_V5003_LIST</key>
	<string>WSSubempLISTViewController</string>
	<key>TAB_V5004</key>
	<string>WSPersonnelListTreeController</string>
	<key>TAB_V6001</key>
	<string>WSNewStoreListViewController</string>
	<key>TAB_V6002</key>
	<string>WSModifyStoreViewController</string>
	<key>TAB_V7001</key>
	<string>WSInfoPerformanceViewController</string>
	<key>TAB_V7002</key>
	<string>WSInfoProdViewController</string>
	<key>TAB_V7003</key>
	<string>WSInfoCustomerViewController</string>
	<key>TAB_V8001</key>
	<string>WSSpecialAcvtViewController</string>
	<key>TAB_V8003</key>
	<string>WSNewStoreListViewController</string>
	<key>TAB_V8005</key>
	<string>WSNewStoreListViewController</string>
	<key>TAB_V8007</key>
	<string>WSNewStoreListViewController</string>
	<key>TAB_ABOUT</key>
	<string>WSAppSettingViewController</string>
	<key>TAB_DOWNLOAD_STORE_LIST</key>
	<string>WSDownLoadStoreListViewController</string>
	<key>TAB_CLEAR_STORE_LIST</key>
	<string>WSClearStoreListViewController</string>
	<key>Visit_record_list</key>
	<string>WSVisitRecordListController</string>
	<key>TB_AROUND_STORE</key>
	<string>WSNeighborStoreController</string>
	<key>TB_V10</key>
	<string>WSMyMsgAcvtListViewController</string>
	<key>TB_V100</key>
	<string>WSRoadsManagerViewController</string>
	<key>TB_V110</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V120</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V130</key>
	<string>WSAgentManagerViewController</string>
	<key>TB_V140</key>
	<string>WSOrderManagerBarViewController</string>
	<key>TB_V150</key>
	<string>WSSuggestionViewController</string>
	<key>TB_V160</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V170</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V180</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V190</key>
	<string>WSProductManagerViewController</string>
	<key>TB_V20</key>
	<string>WSCustomerVistViewController</string>
	<key>TB_V30</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V40</key>
	<string>WSTelephoneOrderViewController</string>
	<key>TB_V50</key>
	<string>WSManagersVisitViewController</string>
	<key>TB_V60</key>
	<string>WSStoreManagerViewController</string>
	<key>TB_V61</key>
	<string>WSCustomerVistViewController</string>
	<key>TB_V70</key>
	<string>WSInfoSearchViewController</string>
	<key>TB_V80</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V90</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V200</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V210</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_V220</key>
	<string>WSContainerViewController</string>
	<key>TB_WORK_REPORT</key>
	<string>WSWorKReportViewController</string>
	<key>TB_StoresListDownload</key>
	<string>WSCustomerVistViewController</string>
	<key>V20S01</key>
	<string>WSEnterStoreViewController</string>
	<key>V20S99</key>
	<string>WSLeaveStoreViewController</string>
	<key>V20T02</key>
	<string>WSVistRemindViewController</string>
	<key>acvt</key>
	<string>WSAcvtListViewController</string>
	<key>dicts</key>
	<string>WSDictGrideViewController</string>
	<key>prod</key>
	<string>WSProdGrideViewController</string>
	<key>prodc</key>
	<string>WSProdGrideViewController</string>
	<key>prom</key>
	<string>WSPromViewController</string>
	<key>TB_PICTURES_SHOW</key>
	<string>WSHelpDocumentationViewController</string>
	<key>FV_mobile_report</key>
	<string>WSReportFormController</string>
	<key>FV_Bridg_Webview</key>
	<string>WinJSBridgeViewController</string>
	<key>FV_ROLE_SWITCH</key>
	<string>WSReportFormController</string>
	<key>TAB_5011</key>
	<string>WSSubempListInPlanViewController</string>
	<key>TAB_5012</key>
	<string>WSSubempListOutPlanViewController</string>
	<key>TAB_V5001</key>
	<string>WSSubempLISTViewController</string>
	<key>TAB_V5002</key>
	<string>OTCManagerSubempLISTViewController</string>
	<key>otc_pay_display</key>
	<string>DisplayPhotoViewController</string>
	<key>TB_V12</key>
	<string>WSNewMsgViewController</string>
	<key>TB_ATT_REMIND</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TB_POA_RETASK</key>
	<string>WSContainerViewController</string>
	<key>TAB_V2004</key>
	<string>WSAttendanceRecordViewController</string>
	<key>TAB_Map</key>
	<string>WSSubEmpMapViewController</string>
	<key>FV_MODIFY_PSW</key>
	<string>WSModifyPasswdViewController</string>
	<key>FV_ABOUT</key>
	<string>WSAppSettingViewController</string>
	<key>V20A01</key>
	<string>WSSpecialAcvtViewController</string>
	<key>spe_unilevePjp</key>
	<string>WSMyPJPViewController</string>
	<key>spe_unileverReadyCallPlan</key>
	<string>WSVisitPrepareViewController</string>
	<key>RN_001</key>
	<string>WSRNMVListViewController</string>
	<key>V20L01</key>
	<string>VisitDoctorViewController</string>
	<key>FV_WORK</key>
	<string>WSWorkbenchViewController</string>
	<key>TAB_V9001</key>
	<string>WSSMSManagerController</string>
	<key>TB_V11</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TAB_SET</key>
	<string>WSFuncsBeanContainerViewController</string>
	<key>TAB_CONTAINER</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TAB_STORE_VISIT</key>
	<string>WSStoreVisitScrollViewController</string>
	<key>TB_POAPERFORM_REMIND</key>
	<string>WSSpecialAcvtListViewController</string>
	<key>TAB_MORE</key>
	<string>WSMoreFunctionViewController</string>
	<key>TAB_Store_Manager</key>
	<string>WSStoreManagementViewController</string>
	<key>TAB_ROUTE</key>
	<string>WSStoreRouteViewController</string>
	<key>TAB_ROUTE1</key>
	<string>WSNewRouteViewController</string>
	<key>TAB_Store_FollowUp</key>
	<string>WSStoreFollowUpViewController</string>
	<key>TAB_MSG_TOP</key>
	<string>WSTopBannerCycleScrollViewController</string>
	<key>TAB_horizontal_group</key>
	<string>WSHorizontalPageViewController</string>
	<key>FV_welcome_page</key>
	<string>WSWelcomeViewController</string>
	<key>FV_circle_info</key>
	<string>WSCircleInfoViewController</string>
	<key>FV_sales_info</key>
	<string>WSSalesInfoViewController</string>
	<key>FV_detail_info</key>
	<string>WSDetailInfoViewController</string>
	<key>TAB_V20021</key>
	<string>WSAllStoresViewController</string>
	<key>Fv_Contacts_Books</key>
	<string>WSContactsBookViewController</string>
	<key>FV_Moments</key>
	<string>WSShowFriendCommunityViewController</string>
	<key>FV_NOTICE</key>
	<string>WSTypListMsgViewController</string>
	<key>TAB_STORE_LIST_MAP</key>
	<string>WSUpdateStoreMapViewController</string>
	<key>TAB_PLAN_CALENDAR_1</key>
	<string>WSPlanCalendarViewController</string>
	<key>TAB_PLAN_CALENDAR_2</key>
	<string>WSPlanCalendarManageViewController</string>
	<key>TAB_PLAN_CALENDAR_3</key>
	<string>WSPlanCalendarManageViewController</string>
	<key>FV_NewStore_List</key>
	<string>WSRouteStoreListViewController</string>
</dict>
</plist>
