<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pfizermt</key>
	<dict>
		<key>TAB_V5001</key>
		<string>OTCSubempLISTViewController</string>
	</dict>
	<key>XMLT</key>
	<dict>
		<key>TB_V100</key>
		<string>WSArrangeScheduleViewController</string>
		<key>TB_V110</key>
		<string>WSSpecialAcvtListViewController</string>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
	</dict>
	<key>PfizerOTCV2</key>
	<dict>
		<key>TAB_V5001</key>
		<string>OTCSubempLISTViewController</string>
		<key>V20L01</key>
		<string>VisitDoctorViewController</string>
		<key>TAB_V1005</key>
		<string>PhotoRemindViewController</string>
		<key>TAB_V8001_01</key>
		<string>WSPfizerSpecialAcvtViewController</string>
		<key>TB_V150</key>
		<string>WSSuggestionViewController</string>
	</dict>
	<key>PfizerHosV2</key>
	<dict>
		<key>V20L01</key>
		<string>VisitDoctorViewController</string>
		<key>TAB_V1005</key>
		<string>PhotoRemindViewController</string>
		<key>TAB_V5001</key>
		<string>OTCSubempLISTViewController</string>
		<key>TAB_V5002</key>
		<string>OTCManagerSubempLISTViewController</string>
		<key>TAB_V8001_01</key>
		<string>WSPfizerSpecialAcvtViewController</string>
		<key>TB_V150</key>
		<string>PhotoRemindViewController</string>
	</dict>
	<key>SKSHU</key>
	<dict>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
		<key>TB_route_search</key>
		<string>WSSearchRoutesInMapViewController</string>
		<key>V20T05</key>
		<string>WSSalesPersonInfoViewController</string>
		<key>TB_V11</key>
		<string>WSMsgViewController</string>
		<key>TAB_V8001_ZXJH</key>
		<string>WSSpecialAuditViewController</string>
	</dict>
	<key>ZhongLv</key>
	<dict>
		<key>TB_V100</key>
		<string>WSArrangeScheduleViewController</string>
		<key>TB_V110</key>
		<string>WSSpecialAcvtListViewController</string>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
	</dict>
	<key>ZhongLiang</key>
	<dict>
		<key>TAB_V2002_Discard</key>
		<string>WSGeographiclistViewController</string>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
		<key>TB_route_search</key>
		<string>WSSearchRoutesInMapViewController</string>
		<key>V20T05</key>
		<string>WSSalesPersonInfoViewController</string>
		<key>TB_V11</key>
		<string>WSMsgViewController</string>
		<key>TAB_V8001_ZXJH</key>
		<string>WSSpecialAuditViewController</string>
	</dict>
	<key>MJL</key>
	<dict>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
		<key>TB_V20</key>
		<string>CustomerCategoryViewController</string>
		<key>TB_route_search</key>
		<string>WSSearchRoutesInMapViewController</string>
		<key>V20T05</key>
		<string>WSSalesPersonInfoViewController</string>
		<key>TB_V11</key>
		<string>WSMsgViewController</string>
		<key>TAB_V8001_ZXJH</key>
		<string>WSSpecialAuditViewController</string>
	</dict>
	<key>SAAS</key>
	<dict>
		<key>TB_V100</key>
		<string>WSArrangeScheduleViewController</string>
		<key>TB_V110</key>
		<string>WSSpecialAcvtListViewController</string>
		<key>TB_V140</key>
		<string>WSAgentManagerViewController</string>
	</dict>
	<key>EtripV2</key>
	<dict>
		<key>TB_EVAL</key>
		<string>VisitFeedbackViewController</string>
		<key>SPE_ETRIP_STOREINFO</key>
		<string>WSPfizerEtripStoreInfoViewController</string>
		<key>FV_SPE_ETRIP_DISPLAYED</key>
		<string>WSPfizerEtripDisplayedViewController</string>
		<key>TAB_V5002</key>
		<string>OTCManagerSubempLISTViewController</string>
	</dict>
	<key>PfizerECLLIT</key>
	<dict>
		<key>FV_SPE_ETRIP_DISPLAYED</key>
		<string>WSPfizerEtripDisplayedViewController</string>
	</dict>
	<key>HWDJIOS</key>
	<dict>
		<key>V20A01</key>
		<string>WSSpecialAcvtViewController</string>
	</dict>
	<key>PfizerCOMV2</key>
	<dict>
		<key>TAB_V5001</key>
		<string>OTCSubempLISTViewController</string>
	</dict>
</dict>
</plist>
