<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSRichMediaOtherInfoTable</key>
	<string>spe_richMedia_otherinfo</string>
	<key>WSSuggestListTable</key>
	<string>suggest_list</string>
	<key>WSRichMediaTemplateTable</key>
	<string>spe_richMedia_template</string>
	<key>WSRichMediaTable</key>
	<string>spe_richMedia</string>
	<key>WSAddProductTable</key>
	<string>wch_addProduct</string>
	<key>WSAddProductQstTable</key>
	<string>wch_addProductQst</string>
	<key>WSAddAcvtTable</key>
	<string>ws_add_newAcvt</string>
	<key>WSAddStoreTable</key>
	<string>wch_addStore</string>
	<key>WSAddStoreQstTable</key>
	<string>wch_addStoreQst</string>
	<key>WSBaseStoreDataTable</key>
	<string>wch_base_store_data</string>
	<key>WSCustomTimeTable</key>
	<string>wch_customTime</string>
	<key>WSDBManagerTable</key>
	<string>wch_dbversion</string>
	<key>WSFacTable</key>
	<string>wch_fac</string>
	<key>WSFacQstTable</key>
	<string>wch_facQst</string>
	<key>WSFdtTable</key>
	<string>wch_fdt</string>
	<key>WSDictTable</key>
	<string>wch_dict</string>
	<key>WSFptTable</key>
	<string>wch_fpt</string>
	<key>WSProductTable</key>
	<string>wch_product</string>
	<key>WSImagePathTable</key>
	<string>wch_imagePath</string>
	<key>WSInoutStoreTable</key>
	<string>wch_inoutStore</string>
	<key>WSOffLineUploadTable</key>
	<string>wch_offLineUpload</string>
	<key>WSRequestDataCacheTable</key>
	<string>ws_request_data_cache</string>
	<key>WSVisitPeoplePlanTable</key>
	<string>wch_visitPeoplePlan</string>
	<key>WSVisitStorePlanTable</key>
	<string>wch_visitStorePlan</string>
	<key>WSVisitStoreActionTable</key>
	<string>visit_store_action</string>
	<key>WSDownloadFileTable</key>
	<string>ws_download_file</string>
	<key>WSBaseStoreTable</key>
	<string>ws_base_store_table</string>
	<key>WSBaseStoreVisitPlanTable</key>
	<string>ws_base_store_visitplan</string>
	<key>WSBaseStoreOtherDataTable</key>
	<string>base_store_other_data</string>
	<key>WSBaseStoreAcvtTable</key>
	<string>base_store_acvt</string>
	<key>WSBaseStoreDictsTable</key>
	<string>base_store_dicts</string>
	<key>WSBaseAcvtTable</key>
	<string>base_acvt</string>
	<key>WSBaseAcvtQstTable</key>
	<string>base_acvt_qst</string>
	<key>WSBaseAcvtQstOptTable</key>
	<string>base_acvt_qst_opt</string>
	<key>WSBaseProductTable</key>
	<string>base_product</string>
	<key>WSBaseFunsTable</key>
	<string>base_funcs</string>
	<key>WSBaseDictsTable</key>
	<string>base_dicts</string>
	<key>WSBaseMsgTypeTable</key>
	<string>base_msg_type</string>
	<key>WSBaseMsgTable</key>
	<string>base_msg</string>
	<key>WSBaseEmployeTable</key>
	<string>base_emp</string>
	<key>WSBaseStoreAcvtDisTable</key>
	<string>base_store_acvt_dis</string>
	<key>WSBaseStoreProdDisTable</key>
	<string>base_store_prod_dis</string>
	<key>WSBaseStoreDictDisTable</key>
	<string>base_store_dict_dis</string>
	<key>WSVisitPlanTable</key>
	<string>ws_base_store_visitplan</string>
	<key>WSVisitStoreStatusTable</key>
	<string>visit_store_status</string>
	<key>WSBaseInStoreProdTable</key>
	<string>base_in_store_prod</string>
	<key>WSVisitStoreAcvtDataTable</key>
	<string>visit_store_acvt_data</string>
	<key>WSVisitStoreAcvtTable</key>
	<string>visit_store_acvt</string>
	<key>WSBaseSmsDataTable</key>
	<string>base_sms_data</string>
	<key>WSUserBehaviorStatisticsTable</key>
	<string>user_behavior_statistics</string>
	<key>WSBaseStoreDistruleTable</key>
	<string>base_store_distrule</string>
	<key>WSBdLocationDataTable</key>
	<string>bd_location_data</string>
	<key>WSBaseStoreInfoTable</key>
	<string>base_store_info</string>
	<key>WSBaseMsgStoreTable</key>
	<string>base_msg_store</string>
</dict>
</plist>
