<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>N</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridNumberTextField</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>T</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridTextField</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CHT</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridTextField</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CHTS</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridTextField</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>L</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridTextField</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>P</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridPhotoButton</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>P</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>D</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridDatePickerLabel</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>D</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>YM</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridDatePickerLabel</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>D</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>TIME</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridDatePickerLabel</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>D</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>R</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridRadioButton</string>
		<key>group_name</key>
		<string>R</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>C</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridCheckBox</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>C</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CA</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridCheckBoxAll</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>CA</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>LNR</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridLNRLabel</string>
		<key>group_name</key>
		<string>T</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DT</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridDropListView</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>DT</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SD</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridDropListView</string>
		<key>is_support_depend</key>
		<true/>
		<key>group_name</key>
		<string>DT</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>tdImg</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridImageView</string>
		<key>group_name</key>
		<string>IMG</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>QS</key>
	<dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGridQRView</string>
		<key>group_name</key>
		<string>Q</string>
		<key>description</key>
		<string></string>
	</dict>
</dict>
</plist>
