<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultExecutor</key>
	<string>WSUniversalLuaExecutor</string>
	<key>allowExam</key>
	<string>WSAllowExamExecutor</string>
	<key>generateURL</key>
	<string>WSGenerateURLExecutor</string>
	<key>meetingApplicantInfo</key>
	<string>WSMeetingApplicantInfoExecutor</string>
	<key>callQstWidgetMethodByQstName</key>
	<string>WSCallQstWidgetMethodByQstNameExecutor</string>
	<key>createAndVisitStoreAction</key>
	<string>WSCreateAndVisitStoreActionExecutor</string>
	<key>saveAcvtData</key>
	<string>WSSaveAcvtDataExecutor</string>
	<key>deleteStoreAction</key>
	<string>WSDeleteStoreActionExecutor</string>
	<key>exceseWeChatImgShare</key>
	<string>WSExceseWeChatImgShareExecutor</string>
	<key>modifyQstRequiredStateBySelectedItem</key>
	<string>WSRelationRequireLuaExecutor</string>
	<key>getServerQstValueByQstCode</key>
	<string>WSGetServerQstValueByQstCodeExecutor</string>
	<key>computeColSum</key>
	<string>WSComputeColSumExecutor</string>
	<key>computeTableSum</key>
	<string>WSComputeTableSumExecutor</string>
	<key>setTip</key>
	<string>WSSetTipExecutor</string>
	<key>getColMaxValueInTable</key>
	<string>WSGetColMaxValueInTableExecutor</string>
	<key>computeRowAndColSum</key>
	<string>WSComputeRowAndColSumExecutor</string>
	<key>setUploadButtonHidden</key>
	<string>WSSetUploadButtonHiddenExecutor</string>
	<key>getEnterStoreTime</key>
	<string>WSGetEnterStoreTimeExecutor</string>
	<key>getExitStoreTime</key>
	<string>WSGetExitStoreTimeExecutor</string>
	<key>getDurationStoreTime</key>
	<string>WSGetDurationStoreTimeExecutor</string>
	<key>refreshAcvtDisDataAndView</key>
	<string>WSRefreshAcvtDisDataAndViewExecutor</string>
	<key>getDataByMethod</key>
	<string>WSGetDataByMethodExecutor</string>
	<key>getStoreId</key>
	<string>WSGetStoreIdExecutor</string>
	<key>getStoreInfoByCod</key>
	<string>WSGetStoreInfoByCodExecutor</string>
	<key>getEnterStoreLatLon</key>
	<string>WSGetEnterStoreLatLonExecutor</string>
	<key>callQstWidgetMethodByQstCode</key>
	<string>WSCallQstWidgetMethodByQstCodeExecutor</string>
	<key>setValueToTarget</key>
	<string>WSSetValueToTargetExecutor</string>
	<key>checkMustFillOne</key>
	<string>WSCheckMustFillOneExecutor</string>
	<key>checkMustFillAnyMode</key>
	<string>WSCheckMustFillAnyModeExecutor</string>
	<key>getTableColValueByProId</key>
	<string>WSGetTableColValueByProIdExecutor</string>
	<key>setTableColValueByProId</key>
	<string>WSSetTableColValueByProIdExecutor</string>
	<key>getQstServerDataByQstNameAndGenid</key>
	<string>WSGetQstServerDataByQstNameAndGenidExecutor</string>
	<key>getQstDataByQstCodeAndGenid</key>
	<string>WSGetQstDataByQstCodeAndGenidExecutor</string>
	<key>setColDefaultValueWithColNameAndIndex</key>
	<string>WSSetColDefaultValueWithColNameAndIndexExecutor</string>
	<key>callGridMethodByRowIdAndCol</key>
	<string>WSCallGridMethodByRowIdAndColExecutor</string>
	<key>getQstServerDataByQstCodeAndGenid</key>
	<string>WSGetQstServerDataByQstCodeAndGenidExecutor</string>
	<key>handleAcvtMethod</key>
	<string>WSHandleAcvtMethodExecutor</string>
	<key>getCurStoreInfoByParam</key>
	<string>WSGetCurStoreInfoByParamExecutor</string>
	<key>callQstWidgetMethodByQstCodeStarts</key>
	<string>WSCallQstWidgetMethodByQstCodeStartsExecutor</string>
	<key>resetMd5ByCustomDateString</key>
	<string>WSResetMd5ByCustomDateStringExecutor</string>
	<key>saveCustomEnterLeaveTime</key>
	<string>WSSaveCustomEnterLeaveTimeExecutor</string>
	<key>getEmpName</key>
	<string>WSGetEmpNameExecutor</string>
	<key>setAcvtEnbleByQstValue</key>
	<string>WSSetAcvtEnableByQstValueExecutor</string>
	<key>setTableColByOtherTableCol</key>
	<string>WSSetTableColByOtherTableColExecutor</string>
	<key>exceseBlueToothPrint</key>
	<string>WSExceseBlueToothPrintExecutor</string>
	<key>setResult</key>
	<string>WSSetResultExecutor</string>
</dict>
</plist>
