<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPGuidPageCount</key>
	<string>3</string>
	<key>StatusBarStyle</key>
	<string>3</string>
	<key>StatusBarStyle_iPad</key>
	<string>0</string>
	<key>WorkFlowIsShowSeparatorLine</key>
	<string>1</string>
	<key>WorkFlowIsShowSeparatorLine_iPad</key>
	<string>0</string>
	<key>MainTintColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>description</key>
		<string>主色调</string>
	</dict>
	<key>SubBtnTintColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>description</key>
		<string>修改密码中提交按钮颜色</string>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>RGBA</key>
		<string>119,119,119</string>
		<key>RGBA_HL</key>
		<string>49,234,0</string>
	</dict>
	<key>TabBarPageTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>TabBarPageTitleSelectedColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>MainFont</key>
	<dict>
		<key>FontName</key>
		<string></string>
	</dict>
	<key>MainBoldFont</key>
	<dict>
		<key>FontName</key>
		<string></string>
	</dict>
	<key>ViewControllerBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
		<key>ShadowRGBA</key>
		<string></string>
		<key>ShadowOffset</key>
		<string></string>
	</dict>
	<key>NavigationBarBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>RGBA_iPad</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>导航栏背景色</string>
	</dict>
	<key>NavigationBarSplitBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>WorkFlowNavigationBarSplitBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
	</dict>
	<key>NavigationBarTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>RGBA_iPad</key>
		<string>41,41,41</string>
		<key>RGBA_HL</key>
		<string></string>
		<key>RGBA_HL_iPad</key>
		<string></string>
	</dict>
	<key>NavigationBarSpliteTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>41,41,41</string>
	</dict>
	<key>NavigationBarTitleFont</key>
	<dict>
		<key>FontSize</key>
		<string>18</string>
		<key>FontSize_iPad</key>
		<string>20</string>
	</dict>
	<key>NavigationBarButtonTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>RGBA_iPad</key>
		<string>41,41,41</string>
		<key>description</key>
		<string>导航栏按钮文字颜色</string>
	</dict>
	<key>NavigationBarButtonSpliteTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>41,41,41</string>
	</dict>
	<key>WorkFlowNavigationBarSplitTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>NavigationBarButtonTitleFont</key>
	<dict>
		<key>FontSize</key>
		<string>16</string>
		<key>FontSize_iPad</key>
		<string>18</string>
		<key>description</key>
		<string>导航栏按钮文字大小</string>
	</dict>
	<key>NormalContentTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>41,41,41</string>
	</dict>
	<key>NormalContentTextFont</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>18</string>
	</dict>
	<key>AlertViewBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>弹框背景颜色</string>
	</dict>
	<key>AlertViewTitle</key>
	<dict>
		<key>FontSize</key>
		<string>14</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>description</key>
		<string>弹框tilte文字大小、颜色</string>
	</dict>
	<key>AlertViewText</key>
	<dict>
		<key>RGBA</key>
		<string>51,51,51</string>
		<key>FontSize</key>
		<string>14</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>description</key>
		<string>弹框详情文字大小、颜色</string>
	</dict>
	<key>AlertViewButtonBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>RGBA_HL</key>
		<string>187,187,187</string>
		<key>description</key>
		<string>弹框按钮背景颜色</string>
	</dict>
	<key>AlertViewButtonTitle</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>description</key>
		<string>弹框按钮文字大小、颜色</string>
	</dict>
	<key>GridHeaderBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>237,237,237</string>
	</dict>
	<key>GridHeaderBorderColor</key>
	<dict/>
	<key>GridHeaderTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
	</dict>
	<key>GridHeaderTitleFont</key>
	<dict/>
	<key>GridLeftTitleReadonlyColor</key>
	<dict>
		<key>RGBA</key>
		<string>153,153,153</string>
	</dict>
	<key>GridLeftTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
	</dict>
	<key>GridLeftTitleFont</key>
	<dict>
		<key>FontSize</key>
		<string>14</string>
		<key>FontSize_iPad</key>
		<string>16</string>
	</dict>
	<key>GridLineColor</key>
	<dict/>
	<key>GridSeparteLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
	</dict>
	<key>GridContentTextColor</key>
	<dict/>
	<key>GridContentTextFont</key>
	<dict/>
	<key>GridBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>LeftViewCellSeparatorLineColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string></string>
	</dict>
	<key>LeftViewCellNormalBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>49,234,0</string>
	</dict>
	<key>LeftViewCellNormalTitleColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>255,255,255</string>
	</dict>
	<key>LeftViewCellSelectedBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>255,255,255</string>
	</dict>
	<key>LeftViewCellSelectedTitleColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>129,130,132</string>
	</dict>
	<key>LeftViewCellIdentiferBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>164,165,169</string>
	</dict>
	<key>LeftViewCellIdentiferTitleColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>243,110,50</string>
	</dict>
	<key>LeftBottomCellBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string>42,109,168</string>
	</dict>
	<key>LeftBottomViewBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string></string>
	</dict>
	<key>LeftTitleViewBackgroundColor</key>
	<dict>
		<key>RGBA_iPad</key>
		<string></string>
	</dict>
	<key>welcomeViewTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>AcvtTabViewTitle</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>FontSize_iPad</key>
		<string>18</string>
	</dict>
	<key>AcvtTabViewTitleSelectedColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>AcvtTabViewTitleBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>246,246,246</string>
	</dict>
	<key>AcvtTabViewTitleUnSelectedBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>AcvtTabViewTitleSelectedBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
	</dict>
	<key>AcvtPopViewNavigationBarBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
	</dict>
	<key>AcvtViewBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>AcvtGridTableViewHeaderViewBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>AcvtGridTableViewHeaderViewTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>41,41,41</string>
	</dict>
	<key>WorkFlowTitleViewBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>RGBA_iPad</key>
		<string>250,97,13</string>
		<key>description</key>
		<string>门店拜访详情顶部背景色</string>
	</dict>
	<key>WorkFlowTitleViewBottomLineColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>WorkFlowTitleViewTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>RGBA_iPad</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>门店拜访详情顶部文字颜色</string>
	</dict>
	<key>WorkFlowAllViewBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
		<key>RGBA_ipad</key>
		<string>49,234,0</string>
		<key>description</key>
		<string>门店详情上半部分背景色</string>
	</dict>
	<key>WorkFlowCellNormalBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
		<key>RGBA_iPad</key>
		<string>255,255,255</string>
	</dict>
	<key>WorkFlowCellSelectedBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>WorkFlowCellSeparatorLineColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>WorkFlowHeaderViewTitle</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>RGBA</key>
		<string>33,33,33</string>
		<key>FontName</key>
		<string>PingFangSC-Medium</string>
	</dict>
	<key>WorkFlowSectionHeaderViewTitle</key>
	<dict>
		<key>FontSize</key>
		<string>12</string>
		<key>RGBA</key>
		<string>60,60,60</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
	</dict>
	<key>WorkFlowCellTitle</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>RGBA_iPad</key>
		<string>0,0,0</string>
	</dict>
	<key>WorkBenchCellTitle</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>33,33,33</string>
		<key>RGBA_iPad</key>
		<string>33,33,33</string>
	</dict>
	<key>WorkFlowCellTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>33,33,33</string>
		<key>RGBA_iPad</key>
		<string>33,33,33</string>
	</dict>
	<key>WorkFlowCellSelectedTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>RGBA_iPad</key>
		<string>129,130,132</string>
	</dict>
	<key>DropListCellNormalBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>DropListCellSelectedBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>249,249,249</string>
	</dict>
	<key>DropListCellNormalTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>DropListCellSelectedTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>LeftMenuViewBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string>72,72,74</string>
	</dict>
	<key>LeftMenuViewCellTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>164,165,169</string>
	</dict>
	<key>LeftMenuViewCellSelectedTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>242,110,50</string>
	</dict>
	<key>LoginViewTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
	</dict>
	<key>LoginViewTextFieldTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>102,102,102</string>
	</dict>
	<key>LoginViewTextFieldLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>232,232,232</string>
	</dict>
	<key>LoginViewTextFieldBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>LoginViewLoginBtnBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
	</dict>
	<key>LoginViewLoginBtnTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>LoginViewHotlineTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>102,102,102</string>
	</dict>
	<key>LoginViewWarningTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>254,73,60</string>
	</dict>
	<key>TopBannerTitleLabelBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0,0.7</string>
	</dict>
	<key>TopBannerTitleLabelTextColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>TopBannerTitleLabelSplitLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>StoreKPIBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>KPI模块背景色</string>
	</dict>
	<key>StoreKPIDownTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>77,128,208</string>
		<key>description</key>
		<string>KPI下部文字颜色</string>
	</dict>
	<key>MainNoticeBackgroudColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>MainNoticeTextColor</key>
	<dict>
		<key>RGBA</key>
		<string></string>
	</dict>
	<key>Mondaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>12,176,70,191</string>
	</dict>
	<key>Tuesdaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>0,255,0,255</string>
	</dict>
	<key>Wednesdaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>186,61,191,191</string>
	</dict>
	<key>Thursdaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>245,48,64,191</string>
	</dict>
	<key>Fridaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>250,156,0,191</string>
	</dict>
	<key>Saturdaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>123,123,123,191</string>
	</dict>
	<key>Sundaycolor</key>
	<dict>
		<key>RGBA</key>
		<string>123,123,123,191</string>
	</dict>
	<key>StoreCellDetailColor</key>
	<dict>
		<key>RGBA</key>
		<string>163,163,163,1</string>
		<key>description</key>
		<string>门店列表等页面门店地址编码距离等颜色</string>
	</dict>
	<key>SearchBarBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>搜索框背景色</string>
	</dict>
	<key>SearchBarplaceholder</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>16</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>153,153,153</string>
		<key>RGBA_iPad</key>
		<string>153,153,153</string>
	</dict>
	<key>AddProdSearchBarTextFieldBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>description</key>
		<string>添加产品搜索文本框背景色</string>
	</dict>
	<key>AddProdSearchBarBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>230,230,230</string>
		<key>description</key>
		<string>添加产品搜索框背景色</string>
	</dict>
	<key>LuaButtonTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>description</key>
		<string>lua按钮文字颜色</string>
	</dict>
	<key>MainCellViewTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>description</key>
		<string>九宫格文字颜色</string>
	</dict>
	<key>AcvtTabCellBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>descritption</key>
		<string>调查问卷导航背景颜色</string>
	</dict>
	<key>AcvtTabCellSelectedBackgroundColor</key>
	<dict>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>descritption</key>
		<string>调查问卷导航选中背景颜色</string>
	</dict>
	<key>AcvtTabCellTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>descritption</key>
		<string>调查问卷导航标题颜色</string>
	</dict>
	<key>AcvtTabCellTitleSelectedColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
		<key>descritption</key>
		<string>调查问卷导航选中标题颜色</string>
	</dict>
	<key>ContactsBookBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>245,245,245</string>
	</dict>
	<key>ContactsBookElementBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>ContactsBookThemeColor</key>
	<dict>
		<key>RGBA</key>
		<string>53,154,252</string>
	</dict>
	<key>ContactsBookGroupingTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>93,93,93</string>
	</dict>
	<key>ContactsBookTitleWhiteColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>ContactsBookTitleBlackColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
	</dict>
	<key>ContactsBookTitleGrayColor</key>
	<dict>
		<key>RGBA</key>
		<string>161,161,161</string>
	</dict>
	<key>ContactsBookLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>237,237,237</string>
	</dict>
	<key>FriendCommunityThemeColor</key>
	<dict>
		<key>RGBA</key>
		<string>53,154,252</string>
	</dict>
	<key>FriendCommunityTitleBlackColor</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
	</dict>
	<key>FriendCommunityTitleGray</key>
	<dict>
		<key>RGBA</key>
		<string>161,161,161</string>
	</dict>
	<key>FriendCommunityBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>245,245,245</string>
	</dict>
	<key>FriendCommunityElementBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>FriendCommunityLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>237,237,237</string>
	</dict>
	<key>FrientCommunityRemindBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>100,100,100</string>
	</dict>
	<key>FriendCommunityTitleWhiteColor</key>
	<dict>
		<key>RGBA</key>
		<string>255,255,255</string>
	</dict>
	<key>WSProgressViewPointColor</key>
	<dict>
		<key>description</key>
		<string>点背景颜色</string>
		<key>RGBA</key>
		<string>223,223,223</string>
	</dict>
	<key>WSProgressViewBackgroundColor</key>
	<dict>
		<key>description</key>
		<string>环背景颜色</string>
		<key>RGBA</key>
		<string>245,245,245</string>
	</dict>
	<key>WSProgressViewLineColor</key>
	<dict>
		<key>description</key>
		<string>环填充颜色</string>
		<key>RGBA</key>
		<string>83,152,238</string>
	</dict>
	<key>IQKeyBarBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>210,210,210,0.3</string>
		<key>description</key>
		<string>键盘的完成bar的背景颜色</string>
	</dict>
	<key>MoreProductButtonTitleColor</key>
	<dict>
		<key>RGBA</key>
		<string>125,125,125</string>
		<key>description</key>
		<string>添加更多产品按钮的字体颜色</string>
	</dict>
	<key>WSAppSettingCell</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>FontSize_iPad</key>
		<string>17</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>51,51,51</string>
	</dict>
	<key>WSAppSettingCellLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>224,224,224</string>
	</dict>
	<key>WSAllStoreCell</key>
	<dict>
		<key>FontSize</key>
		<string>12</string>
		<key>FontSize_iPad</key>
		<string>13</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>RGBA_iPad</key>
		<string>0,0,0</string>
	</dict>
	<key>AcvtViewPanelTextReadonly</key>
	<dict>
		<key>FontSize</key>
		<string>17</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>102,102,102</string>
		<key>description</key>
		<string>调查问卷问题文本颜色字号只读状态</string>
	</dict>
	<key>AcvtViewPanelText</key>
	<dict>
		<key>FontSize</key>
		<string>17</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>description</key>
		<string>调查问卷问题文本颜色字号</string>
	</dict>
	<key>CircleButton</key>
	<dict>
		<key>description</key>
		<string>立白新首页门店数据统计</string>
		<key>RGBA</key>
		<string>102,102,102</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>FontSize</key>
		<string>12</string>
	</dict>
	<key>CircleLabel</key>
	<dict>
		<key>description</key>
		<string>立白新首页门店数据统计</string>
		<key>RGBA</key>
		<string>102,102,102</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>FontSize</key>
		<string>12</string>
	</dict>
	<key>SalesMoneyLabel</key>
	<dict>
		<key>RGBA</key>
		<string>0,0,0</string>
		<key>FontName</key>
		<string>PingFangSC-Regular</string>
		<key>FontSize</key>
		<string>16</string>
		<key>description</key>
		<string>本月销售额文字</string>
	</dict>
	<key>HighFrequencySearchBgColor</key>
	<dict>
		<key>RGBA</key>
		<string>230,230,230</string>
	</dict>
	<key>HighFrequencySearchTitle</key>
	<dict>
		<key>FontSize</key>
		<string>15</string>
		<key>RGBA</key>
		<string>105,105,105</string>
	</dict>
	<key>HighFrequencySearchLineColor</key>
	<dict>
		<key>RGBA</key>
		<string>169,169,169</string>
	</dict>
	<key>GridCellTextSelectColor</key>
	<dict>
		<key>FontSize</key>
		<string>14</string>
		<key>RGBA</key>
		<string>49,234,0</string>
		<key>FontName</key>
		<string>PingFangSC-Medium</string>
		<key>description</key>
		<string>添加产品页面左边选中的颜色和字体</string>
	</dict>
</dict>
</plist>
