<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>O</key>
    <dict>
        <key>datasource_class_m</key>
        <dict>
            <key>Default</key>
            <string></string>
        </dict>
        <key>validate_class</key>
        <string>WSTextFieldLengthValidate</string>
        <key>widget_class</key>
        <string>WSTextViewWithRangePanel</string>
        <key>datasource_class</key>
        <string></string>
        <key>displayvalue_class</key>
        <string>WSDefaultStringDisplayValue</string>
        <key>description</key>
        <string></string>
    </dict>
	<key>ICO</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSImageViewPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSPhotoDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CAL</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSCALDataSource</string>
			<key>acvt</key>
			<string>WSCALDataSource</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSCalendarPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DB</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WinDBSelectBoxPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SL</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSSLDataSourceFromSubEmpStore</string>
			<key>store</key>
			<string>WSSLDataSourceFromDSStore</string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>group_validate_class</key>
		<string>WSGroupValidate</string>
		<key>widget_class</key>
		<string>WSTreeListPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>LC</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSDisplayDoc</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>显示文档类型</string>
	</dict>
	<key>DPL</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>media</key>
			<string>WSMediaListDatasource</string>
			<key>store_emp</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSMediaListPanel</string>
		<key>datasource_class</key>
		<string>WSMediaListDatasource</string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>下拉嵌套问卷单选</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSStartEndDatePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>T</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSTextFieldLengthValidate</string>
		<key>widget_class</key>
		<string>WSTextViewWithRangePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSTextFieldLengthValidate</string>
		<key>widget_class</key>
		<string>WSAddressCheckPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>C</key>
	<dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
		</dict>
		<key>widget_class</key>
		<string>WSCheckBoxPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CN</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSCheckBoxPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CE</key>
	<dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
		</dict>
		<key>widget_class</key>
		<string>WSCheckBoxPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>P</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSPhotoViewValidate</string>
		<key>widget_class</key>
		<string>WSPhotoViewPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSPhotoDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SC</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSSelectStorePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>R</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSRadioButtonPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DP</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSShowPhotoPannel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>N</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSNumberTextVaildate</string>
		<key>widget_class</key>
		<string>WSNumberTextFiledPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>NR</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>L</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSLabelPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>LT</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSLabelPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSLabelDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>TV</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>W</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSDateTimeLabelPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>GG</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSHidedMapPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>GF</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSMapValidate</string>
		<key>widget_class</key>
		<string>WSMapPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>B</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>I</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSScanListValidate</string>
		<key>widget_class</key>
		<string>WSScanListPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>V</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>D</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDateTextPannelValidate</string>
		<key>widget_class</key>
		<string>WSDateTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DT</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSTimeTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>WF</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSDateTimeTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>GE</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSAddressSelectPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSAddressSelectDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SS</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSSingleSelectDropListPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>PT</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SE</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSStartEndDatePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>TB</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSAcvtDataGridViewDataSource</string>
			<key>dicts</key>
			<string>WSAcvtDataGridViewDataSource</string>
		</dict>
		<key>validate_class</key>
		<string>WSAcvtDataGridValidate</string>
		<key>widget_class</key>
		<string>WSAcvtDataGridViewPanel</string>
		<key>datasource_class</key>
		<string>WSAcvtDataGridViewDataSource</string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>TA</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSTAAcvtDataGridViewDataSouce</string>
			<key>acvt</key>
			<string>WSTAAcvtDataGridViewDataSouce</string>
		</dict>
		<key>validate_class</key>
		<string>WSTAAcvtDataGridValidate</string>
		<key>widget_class</key>
		<string>WSTAAcvtDataGridViewPanel</string>
		<key>datasource_class</key>
		<string>WSTAAcvtDataGridViewDataSouce</string>
	</dict>
	<key>RD</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDefaultValidate</string>
			<key>store</key>
			<string>WSDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
			<key>spestore</key>
			<string>WSDataSourceFromDSSpestore</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSRadioButtonPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CD</key>
	<dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSCheckBoxPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
			<key>store</key>
			<string>WSDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
			<key>spestore</key>
			<string>WSDataSourceFromDSSpestore</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
		</dict>
	</dict>
	<key>SM</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSDataSourceFromOpt</string>
		</dict>
		<key>validate_class</key>
		<string>WSMultiSelectDropListValidate</string>
		<key>widget_class</key>
		<string>WSMultiSelectDropListPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromOpt</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DM</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
			<key>stores,stores:subzd</key>
			<string>WSDataSourceFromDSStore</string>
			<key>store</key>
			<string>WSDataSourceFromDSStore</string>
			<key>stores</key>
			<string>WSDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
			<key>spestore</key>
			<string>WSDataSourceFromDSSpestore</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
			<key>sub_emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>prod</key>
			<string>WSDataSourceFromDSProduct</string>
			<key>acvtdis</key>
			<string>WSDataSourceFromDSAcvtdis</string>
		</dict>
		<key>validate_class</key>
		<string>WSMultiSelectDropListValidate</string>
		<key>widget_class</key>
		<string>WSMultiSelectDropListPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromDS</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>DV</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>stores,stores:subzd</key>
			<string>WSDataSourceFromDSStore</string>
			<key>stores:kds,stores:isPlanKds</key>
			<string>WSDataSourceFromDSStore</string>
			<key>Default</key>
			<string></string>
			<key>store</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores:storeInfo</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores:vip</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores:subempoutstore</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores:visitedAndOwn</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>stores:paiban</key>
			<string>WSDVDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDVDataSourceFromDSDicts</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
			<key>store_emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>sub_emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>prod</key>
			<string>WSDataSourceFromDSProduct</string>
			<key>acvtdis</key>
			<string>WSDataSourceFromDSAcvtdis</string>
			<key>emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>instoreprod</key>
			<string>WSDataSourceFromInStoreProd</string>
			<key>promotion:pinfo</key>
			<string>WSDataSourceFromPromotion</string>
			<key>stores:2000</key>
			<string>WSDVDataSourceFromDSStore</string>
            <key>storeDicts</key>
            <string>WSDVDataSourceFromStoreDicts</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>group_validate_class</key>
		<string>WSGroupValidate</string>
		<key>widget_class</key>
		<string>WSDVDropListPanel</string>
		<key>datasource_class</key>
		<string>WSDVDataSourceFromDSDicts</string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>RB</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSRatingDataSource</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSRatingPanel</string>
		<key>datasource_class</key>
		<string>WSRatingDataSource</string>
		<key>displayvalue_class</key>
		<string>WSRatingViewDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>PI</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string>WSPushInfoDataSource</string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSPushInfoPanel</string>
		<key>datasource_class</key>
		<string>WSPushInfoDataSource</string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>PA</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string></string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>M</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSMobileTextValidate</string>
		<key>widget_class</key>
		<string>WSMobileTextFiledPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>AN</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSNestedAcvtValidate</string>
		<key>group_validate_class</key>
		<string>WSGroupValidate</string>
		<key>widget_class</key>
		<string>WSANNestedAcvtPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSANDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>ANX</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSNestedAcvtValidate</string>
		<key>widget_class</key>
		<string>WSANNestedAcvtPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSANDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>MI</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSMobileTextValidate</string>
		<key>widget_class</key>
		<string>WSMultiMobileTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>BN</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSButtonValidate</string>
		<key>widget_class</key>
		<string>WSLuaButtonPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>PE</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSPhotoViewPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSPhotoDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>AC</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSVerificationValidate</string>
		<key>widget_class</key>
		<string>WSVerificationCodePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>UR</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSURLValidate</string>
		<key>widget_class</key>
		<string>WSURLPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>AM</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSNestedAcvtValidate</string>
		<key>widget_class</key>
		<string>WSAMNestedAcvtPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSAMDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>ST</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSSTPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>YM</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSYMDateTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>Y</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSYMDateTextFieldPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDateDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>QR</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSQRPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>GS</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSSigNatureValidate</string>
		<key>widget_class</key>
		<string>WSSignaturepanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSPhotoDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>1S</key>
	<dict>
		<key>validate_class</key>
		<string>WSCheckBoxWithReasonValidate</string>
		<key>widget_class</key>
		<string>WSCheckBoxWithReasonPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
			<key>store</key>
			<string>WSDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
			<key>spestore</key>
			<string>WSDataSourceFromDSSpestore</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
			<key>acvt</key>
			<string>WSDataSourceFromDSAcvt</string>
		</dict>
	</dict>
	<key>TL</key>
	<dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSTileListPannel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
		<key>datasource_class_m</key>
		<dict>
			<key>orgRelation</key>
			<string>WSDataSourceFromOrg</string>
		</dict>
	</dict>
	<key>BQ</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGapViewPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>空白问题作间隙用</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSGapViewPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>空白问题作间隙用</string>
	</dict>
	<key>REG</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSRegularExpressionValidate</string>
		<key>widget_class</key>
		<string>WSTextViewWithRangePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>CQ</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
			<key>store</key>
			<string>WSDataSourceFromDSStore</string>
			<key>dicts</key>
			<string>WSDataSourceFromDSDicts</string>
			<key>spestore</key>
			<string>WSDataSourceFromDSSpestore</string>
			<key>storeacvtdis</key>
			<string>WSDataSourceFromDSStoreAcvtDis</string>
			<key>sub_emp</key>
			<string>WSDVDataSourceFromStore_emp</string>
			<key>prod</key>
			<string>WSDataSourceFromDSProduct</string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSMultiSelectAndSearchDropListPanel</string>
		<key>datasource_class</key>
		<string>WSListDataSourceFromDS</string>
		<key>displayvalue_class</key>
		<string>WSDefaultArrayDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>SB</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSSliderPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string></string>
	</dict>
	<key>RP</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>widget_class</key>
		<string>WSReversePositingPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSReversePositingDisplayValue</string>
		<key>description</key>
		<string>手动获取GPS信息</string>
	</dict>
	<key>TLS</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSLeaveStoreTimePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>离店时间</string>
	</dict>
	<key>TIS</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSTextImageShowPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string>展示信息</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSDKButtonPanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>打开按钮</string>
	</dict>
	<key>DTT</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string>WSDefaultValidate</string>
		<key>group_validate_class</key>
		<string>WSGroupValidate</string>
		<key>widget_class</key>
		<string>WSTimeTextFieldWithPickerOfTwoZonePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string>WSDefaultStringDisplayValue</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>IR</key>
	<dict>
		<key>datasource_class_m</key>
		<dict>
			<key>Default</key>
			<string></string>
		</dict>
		<key>validate_class</key>
		<string></string>
		<key>widget_class</key>
		<string>WSIRangePanel</string>
		<key>datasource_class</key>
		<string></string>
		<key>displayvalue_class</key>
		<string></string>
		<key>description</key>
		<string>范围</string>
	</dict>
</dict>
</plist>
