<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beaconRegions</key>
	<array>
		<dict>
			<key>vguidebeacon</key>
			<string>39C4BCF5-7DB7-43AC-BAB2-E9C09E37902C</string>
		</dict>
	</array>
</dict>
</plist>
